<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <link rel="stylesheet" href="../style/style.css" />

        <title>Online Pixel Art</title>
    </head>
    <body>
        <header>
            <img src="../style/logo52.png" alt="Logo" id="logo">
            <h1 id="headerTitle">Online Pixel Art</h1>
        </header>

        <nav>
            <ul id="nav">
                <li class="navcontainer active"><a class="navlink" href="/view/home.html">Home</a></li>
                <li class="navcontainer"><a class="navlink" href="/view/canvas.html">Canvas</a></li>
                <li class="navcontainer"><a class="navlink" id="account">Account</a></li>

                <div id="usercontainer">
                    <p id="usernametag"></p>
                    <button id="logoutButton">Log Out</button>
                </div>
            </ul>            
        </nav>

        <section>
            <h1>Home</h1>
            <p>
                On this website, you can draw pixel art alongside other users at the same time!
                This website was created using Javascript, MongoDB, Express and Node.js.
            </p>
        </section>

        <footer>

        </footer>

        <!-- Script. -->
        <script src="../script/default.js"></script>
    </body>
</html>