#canvas {
    width: 690px;
    display: block;
    overflow: auto;
}

.pixel {
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: 0;
    border: 1px solid #cfcfcf;
    float: left;
    text-align: center;
}

#tools {
    float:left;
}

.currentColour {
    border: 1px solid black;
    margin-right: 10px;
    display: block;
    float: left;
    overflow: auto;
}
.palette {
    border: 1px solid black;
    display: block;
    float: left;
    overflow: auto;
}

.colour {
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: 0;
    border: 1px solid #cfcfcf;
    float: left;
    text-align: center;
}

#selectedColour {
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: 0;
    border: 1px solid #cfcfcf;
    float: left;
    text-align: center;
}